*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Whitney', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 100%;
}

/* common */
.container{
    width: 70%;
    margin: 0 auto;
}

.mgb{
    margin-bottom: 1em;
}

.mgt{
    margin-top: 1em;
}

.bg_gray{
    background-color: #F5F5F5
}

.cl-title{
    color: #5F77BD;
}

/* button */
.button{
    color: black;
    text-decoration: none;
    background-color: #ffffff;
    margin: 3em 1em;
    padding: .5em 2em;
    border-radius: 18px;
}

.button2{
    color: white;
    background-color: black;
}

.button3{
    background-color: #7289DA;;

}

/* header */
header{
    min-height: 100px;
    background-color: blue;
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-position: center;
}

nav{
    padding: 1em;
}

.option-container{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 40px;
}

.logo-container img {
    max-width: 100px;
}

.nav-option-link ul{
    color: #DBE0F9;
    display: flex;
    list-style-type: none;
}

.nav-option-link ul li{
    padding: .5em 1.5em;
}

.nav-option-sign a{
    text-decoration: none;
    background-color: #ffffff;
    padding: .5em 2em;
    border-radius: 16px;
}

/* nav */

/* jumbotron */

.jumbotron-container{
    display: flex;
    justify-content: center;
    min-height: 350px;
    align-items: center;
}

.jumbotron{
    color: white;
    text-align: center;   /*sistemare font*/
    width: 40%;
}

.jumbotron p{
    padding-bottom:2em;
}


/* main */
.section-main{
    /* min-height: 400px; */
    display: flex ;
    align-items: center;
    justify-content: center;
    padding: 4em;
}

.container-main{
    padding: 1rem;
    display: flex;
    gap: 1em;
}

.photo{
    /* min-height: 300px; */
    width: 60%;
}

.photo img{
    width: 100%;
}

.text{
    /* min-height: 300px; */
    width: 40%;
    padding: 1em;
}

.photo2{
    order:1;
}

.big-description{
    /* min-height: 300px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.big-description img{
    width: 110%;
}

/* footer */

footer{
    background-color: black;
    color: white;
    padding: 2em;
}

/*  top footer */

.top-footer{
    /* min-height: 200px; */
    display:flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 1em;
    border-bottom: 1px solid white;
}

.about{
    width: 20%;
}

.italian-flag img{
    width: 10%;
}

i{
    margin-right: 1em;
}

/* link columns */

.link-container{
    width: 90%;
    display: flex;
    justify-content: space-around;
}

.links-column{
    margin: 0 1em;
}

.links-column ul{
    list-style-type: none;
}

.links-column li{
    margin-bottom: 1em;
}

/* .link{
    text-decoration: none;
} */

/*  bottom footer */

.bottom-footer{
    /* min-height: 50px; */
    margin-top:2em;
    border: none;
   
}
















